<div class="title">
    <h1>VER MASCOTAS</h1>
</div>
<mat-card class="container card">
    <mat-card-title>Bartolo</mat-card-title>
    <mat-card-content>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti corporis vitae quaerat modi aliquam doloremque accusantium iure repudiandae fugiat? Corrupti iusto inventore expedita? Dolores voluptatibus eaque harum repudiandae, facilis quaerat.
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button routerLink="">Volver</button>
    </mat-card-actions>
</mat-card>
